{{!< default}}
<div class="main-top-content container-fluid home-style">
  <div class="row-top w-100">
    <div class="row top-section-wrap content-wrap">
      <div class="col-12 col-sm-12 col-md-12 col-lg-8">
        <p class="heading-leadin">Hi! Welcome to</p>
        <h1 class="top-title">{{ @site.title }}.</h1>
        <p class="subtext-intro">Giving my opinion on all things tech; stories, reviews and opinion pieces.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-4 flex-center">
        <img class="img-fluid avatar-me d-none d-lg-block" src="{{@site.icon}}" title="{{@site.title}}" alt="{{@site.title}}" />
      </div>
    </div>
  </div>
</div>
<div class="main-top-content container-fluid content-wrap row text-center">
  <h1 class="top-leadin text-center">The newest topics influencing your opinion on tech.</h1>
</div>

  <div class="col-12" id="allposts">
   <div class="main-content content-wrap">
    {{> 'post/card-basic'}}
    {{#if pagination}}
    {{pagination}}
    {{/if}}
  </div>
  </div>
