{{!< default}} 
<div class="row row-alt content-wrap">
  <div class="container-fluid row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 theme-content">
      <h1 class="top-post-title">Kipper</h1>
      <p class="subtext"></p>
      <p>Kipper brings a minimalist look with all the Ghost features you’d expect including Members support, translation support, highlighted posts and more.</p>
      
      <h2>Features</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fas fa-circle"></i>Set your own logo</li>
        <li class="list-group-item"><i class="fas fa-circle"></i>Add your own cover-image</li>
        <li class="list-group-item"><i class="fas fa-circle"></i>Members support (beta)</li>
        <li class="list-group-item"><i class="fas fa-circle"></i>Set your Accent Color</li>
        <li class="list-group-item"><i class="fas fa-circle"></i>Translation-support</li>
        <li class="list-group-item"><i class="fas fa-circle"></i>Highlighted posts</li>
        <li class="list-group-item"><i class="fas fa-circle"></i>Related posts</li>
      </ul>
      <div class="source-item">
        <a href="https://github.com/spookthemes/kipper-ghost-theme/releases/latest" title="Download Kipper" class="button-url" target="_blank" rel="noreferrer noopener">
        <i class="fas fa-play"></i>Download Kipper
        </a>
        </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 img-fluid">
          <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100 theme-image-themepage" data-bs-toggle="modal" data-bs-target="#kipperModal" src="{{asset "images/projects/kipper/kipper-screenshot-home.png"}}" title="Kipper Screenshot" alt="Kipper Screenshot"></div><div class="carousel-item"><img class="d-block w-100 theme-image-themepage" data-bs-toggle="modal" data-bs-target="#kipperModal" src="{{asset "images/projects/kipper/kipper-screenshot-2.png"}}" title="Screenshot" alt="Screenshot"></div><div class="carousel-item"><img class="d-block w-100 theme-image-themepage" data-bs-toggle="modal" data-bs-target="#kipperModal" src="{{asset "images/projects/kipper/kipper-screenshot-3.png"}}" title="Screenshot" alt="Screenshot"></div><div class="carousel-item"><img class="d-block w-100 theme-image-themepage" data-bs-toggle="modal" data-bs-target="#kipperModal" src="{{asset "images/projects/kipper/kipper-screenshot-4.png"}}" title="Screenshot" alt="Screenshot"></div></div></div></div></div></div>
 
 <!-- Modal -->
 <div class="modal fade" id="kipperModal" tabindex="-1" role="dialog" aria-labelledby="kipperModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title highlight" id="kipperModalLabel">Kipper</h5>
       </div>
       <div class="modal-body">
         <img src="{{asset "images/projects/kipper/kipper-screenshot-home.png"}}" alt="Kipper Screenshot" class="img-fluid">
       </div>
     </div>
   </div>
 </div>