<div class="card max-content-width post-access-{{visibility}}">
    <div class="row">  
        {{#foreach posts}}
            <div class="col-sm-12 col-md-8 related-item">
              <p class="featured-title text-truncate"><a href="{{url}}" title="{{title}}" class="text-center post-title">{{title}}</a></p>
              <div class="post-options">
                <div class="post-author">
                  {{#foreach authors}}
                  <img src="{{#if profile_image}}{{img_url profile_image}}{{/if}}"
                    class="homepage-avatar" alt="{{name}}" title="{{name}}">
                  <a href="{{url}}" title="{{t "Written by"}} {{name}}" class="author-name">{{name}}</a>
                  {{/foreach}}
                </div>
                {{#has visibility="paid"}}<span class="premium-badge">{{t "Premium"}}</span>{{/has}}{{#has visibility="members"}}<span class="members-badge">{{t "Members-Only"}}</span>{{/has}}

                <time datetime="{{date format=" YYYY-MM-DD"}}" class="post-item-main">{{date format="DD MMMM YYYY"}}</time>

              </div>
              <p class="subtext-intro">{{excerpt characters="140"}}</p>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="{{url}}"><img src="{{#if feature_image}}{{img_url feature_image}}{{/if}}" class="homepage-image w-100" alt="{{title}}" title="{{title}}"></a>
            </div>
        {{/foreach}}
    </div>
</div>